$small: 0.5em;
$mini: 0.2em;
$reduced: 0.8em;

form
{
	margin: $mini 0 $mini 0;
	padding: $mini $small $small $small;
}

body > p
{
	margin: $small;
}

h1
{
	margin-bottom: 0.1em;
	padding: $mini;
	font-size: 2em;
}

h1 span
{
	font-size: 0.5em;
}

legend
{
	font-size: $reduced;
}

fieldset
{
	overflow: hidden;
	padding: $mini $small $mini $small;
	border-width: 2px;
}

input
{
	font-size: $reduced;
}

#cost_control, #slots_control
{
	float: right;
}

#slots_control
{
	margin-right: 0;
}

#crew_control, .attribute
{
	margin-right: 1em;
}

#crew_control .template
{
	font-size: 1em;
}

#crew_members
{
	overflow: hidden;
	margin-right: -$small;
}

#crew_members.hide .crew
{
	display: none;
}

#damage_track
{
	float: left;
	border-width: 2px;

	div
	{
		float: left;
		width: 1.5em;
		height: 1em;
		border-width: 1px;
		margin: 2px;
		padding: 2px;
		font-size: $reduced;
	}

	.drive
	{
		border-width: 3px;
		padding: 0;
	}
}

.current, .separator, .template
{
	font-size: 2em;
}

.template_control
{
	float: left;
	margin-right: $small;
}

.crew, .weapon
{
	overflow: hidden;
	margin-bottom: $small;
	padding: 0.3em;
	border-width: 1px;
}

.crew
{
	float: left;
	margin-right: $small;
}

.skill_control
{
	margin-left: 1em;
}

.skill_die_container
{
	margin-left: 0.25em;
}

.weapon
{
	.delete
	{
		float: right;
	}

	.controls
	{
		float: left;
		margin-bottom: $small;
	}

	.controls > span, .stat
	{
		float: left;
		margin-right: 1em;
	}

	.stat
	{
		margin-bottom: 0.1em;
	}
}

.firing_arc
{
	clear: left;
}

.section_toggle
{
	float: right;
	margin:
	{
		top: -1em -$mini;
		right: -$mini;
	}
	padding:
	{
		left: 0.1em;
		right: 0.1em;
	}
	border-width: 1px;
	font-size: $reduced;
}

.section_toggle.hide
{
	.toggle_hide
	{
		display: none;
	}

	.toggle_show
	{
		display: inline;
	}
}

.toggle_show
{
	display: none;
}

.credit
{
	margin-top: 1em;
	font-size: $reduced;
}
