form
{
	margin: 0.2em 0 0.2em 0;
	padding: 0.2em 0.5em 0.5em 0.5em;
}

h1
{
	margin-bottom: 0.1em;
	padding: 0.2em;
	font-size: 2em;
}

h1 .version
{
	font-size: 0.5em;
}

h2
{
	font-size: 1.4em;
	margin-top: 1em;
	margin-bottom: 0.7em;
}

legend
{
	font-size: 0.8em;
}

fieldset
{
	overflow: hidden;
	margin-top: 0.1em;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-width: 2px;
}

fieldset .section_toggle
{
	margin-top: -1.2em;
	margin-right: -0.2em;
}

input
{
	font-size: 0.8em;
}

#slots_control
{
	margin-right: 0;
}

#crew_control, .attribute
{
	margin-right: 1em;
}

#crew_members
{
	overflow: hidden;
	margin-right: -0.5em;
}

#gunboat_rear
{
	margin-top: 1em;
}

.persistence
{
	float: right;
	margin: 0.2em;
	font-size: 0.8em;
}

.persistence a
{
	float: right;
	clear: right;
	margin-bottom: 0.2em;
}

.gunboat
{
	display: none;
}

.gunboat_class #damage_track, .gunboat_class #damage_reduction_control
{
	display: none;
}

.gunboat_class .gunboat
{
	display: block;
}

.gunboat.left, .gunboat.right
{
	width: 23%;
}

.gunboat.center
{
	width: 52%;
	overflow: hidden;
	margin-left: 24%;
	margin-right: 24%;
}

.damage_track
{
	float: left;
	border-width: 2px;
}

.damage_track > div
{
	overflow: hidden;
	width: 1.5em;
	height: 1.2em;
	line-height: 1.2em;
	border-width: 1px;
	margin: 2px;
	padding: 2px;
	font-size: 0.8em;
}

.damage_track > .damage_reduction
{
	height: 1.2em;
}

.damage_track .drive
{
	border-width: 3px;
	padding: 0;
}

.damage_track .damage_reduction div
{
	width: 1em;
	height: 1em;
	margin: 1px auto 1px auto;
	border-width: 1px;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
	zoom: 1;
}

.damage_track .damage_reduction span
{
	display: block;
	line-height: 1em;
	transform: rotate(315deg);
	-o-transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865474, M12=0.7071067811865477, M21=-0.7071067811865477, M22=0.7071067811865474);
	zoom: 1;
}

.left, .damage_track > div, .crew, .controls, .option_controls, .range, .controls > span, .stat
{
	float: left;
}

.right, .delete
{
	float: right;
}

.current, .separator, .template
{
	font-size: 2em;
}

.template_control, .template_stat
{
	margin-right: 0.5em;
}

.crew, .weapon, .ship_option
{
	overflow: hidden;
	margin-bottom: 0.5em;
	padding: 0.3em;
	border-width: 1px;
}

.crew
{
	margin-right: 0.5em;
}

.skill_control
{
	margin-left: 1em;
}

.skill_die_container
{
	margin-left: 0.25em;
}

.option_controls
{
	margin-right: 1em;
}

.option_dimension
{
	margin-left: 1em;
}

.ship_option .note_container
{
	margin-top: 0.2em;
}

.controls
{
	margin-bottom: 0.5em;
}

.controls > span, .stat
{
	margin-right: 1em;
}

.stat
{
	margin-bottom: 0.1em;
}

.firing_arc
{
	clear: left;
}

.short, .medium
{
	margin-right: 1em;
}

.hide
{
	display: none;
}

.section_toggle
{
	margin-top: -1.2em;
	margin-right: 1em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	border-width: 1px;
	font-size: 0.8em;
}

.section_toggle.hide
{
	display: block;
}

.section_toggle.hide .toggle_hide
{
	display: none;
}

.section_toggle.hide .toggle_show
{
	display: inline;
}

.toggle_show
{
	display: none;
}

.info
{
	margin: 1em 0.5em 0.5em 0.5em;
	padding: 0 0.5em 0.5em 0.5em;
	border-width: 2px;
	font-size: 0.8em;
}

.info p, .info ul, .info li
{
	margin: 0.25em 0.5em 0.5em 1.5em;
}

.info .section_toggle
{
	margin-top: -0.7em;
	margin-right: 0;
	font-size: 1em;
}
