fieldset
{
	overflow: hidden;
}

#cost_control, #slots_control
{
	float: right;
}

#slots_control
{
	margin-right: 0;
}

#crew_control, .attribute
{
	margin-right: 3em;
}

#crew_control .template
{
	font-size: 1em;
}

#crew_members
{
	overflow: hidden;
	margin-bottom: -0.75em;
}

.current, .separator, .template
{
	font-size: 2em;
}

.template_control
{
	float: left;
	margin-right: 0.5em;
}

.crew, .weapon
{
	overflow: hidden;
	margin-bottom: 1em;
	padding: 0.5em;
	border-width: 1px;
}

.crew
{
	float: left;
	margin-right: 1em;
}

.crew_type
{
	display: block;
}

.skill_die_container
{
	margin-left: 0.25em;
}

.weapon .delete
{
	float: right;
}

.weapon .type_controls, .weapon .firing_arc
{
	float: left;
	clear: left;
}

.weapon .controls, .weapon .stat
{
	float: left;
	margin-right: 2em;
}

.weapon .controls
{
	margin-bottom: 0.5em;
}
