form
{
	margin: 0.2em 0 0.2em 0;
	padding: 0.2em 0.5em 0.5em 0.5em;
}

body > p
{
	margin: 0.5em;
}

h1
{
	margin-bottom: 0.1em;
	padding: 0.2em;
	font-size: 2em;
}

h1 span
{
	font-size: 0.5em;
}

legend
{
	font-size: 0.8em;
}

fieldset
{
	overflow: hidden;
	margin-top: 0.1em;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-width: 2px;
}

input
{
	font-size: 0.8em;
}

#slots_control
{
	margin-right: 0;
}

#crew_control, .attribute
{
	margin-right: 1em;
}

#crew_members
{
	overflow: hidden;
	margin-right: -0.5em;
}

#crew_members.hide .crew
{
	display: none;
}

#damage_track
{
	float: left;
	border-width: 2px;
}

#damage_track div
{
	float: left;
	width: 1.5em;
	height: 1em;
	border-width: 1px;
	margin: 2px;
	padding: 2px;
	font-size: 0.8em;
}

#damage_track .drive
{
	border-width: 3px;
	padding: 0;
}

.current, .separator, .template
{
	font-size: 2em;
}

.template_control_set
{
	float: left;
}

.template_control, .template_stat
{
	margin-right: 0.5em;
}

.template_stat_set
{
	float: right;
}

.crew, .weapon, .ship_option
{
	overflow: hidden;
	margin-bottom: 0.5em;
	padding: 0.3em;
	border-width: 1px;
}

.crew
{
	float: left;
	margin-right: 0.5em;
}

.skill_control
{
	margin-left: 1em;
}

.skill_die_container
{
	margin-left: 0.25em;
}

.option_controls > span
{
	margin-right: 1em;
}

.delete
{
	float: right;
}

.controls, .option_controls, .range
{
	float: left;
}

.ship_option .note_container
{
	margin-top: 0.2em;
}

.controls
{
	margin-bottom: 0.5em;
}

.controls > span, .stat
{
	float: left;
	margin-right: 1em;
}

.stat
{
	margin-bottom: 0.1em;
}

.firing_arc
{
	clear: left;
}

.short, .medium
{
	margin-right: 1em;
}

.section_toggle
{
	float: right;
	margin-top: -1.2em;
	margin-right: -0.2em;
	padding-left: 0.1em;
	padding-right: 0.1em;
	border-width: 1px;
	font-size: 0.8em;
}

.section_toggle.hide .toggle_hide
{
	display: none;
}

.section_toggle.hide .toggle_show
{
	display: inline;
}

.toggle_show
{
	display: none;
}

.credit
{
	margin-top: 1em;
	font-size: 0.8em;
}
