#crew_control .template
{
	color: black;
	font-weight: normal;
}

legend, .hint
{
	color: gray;
}

.invalid .current
{
	color: red;
}

.current
{
	color: blue;
}

.current, .separator, .template
{
	font-weight: bold;
}

.construction_stats
{
	font-style: italic;
	color: gray;
}

.weapon
{
	border-color: gray;
	border-style: solid;
	background-color: rgb(245, 245, 245);
}

.note_container
{
	font-style: italic;
}
