body, select
{
	font-family: Verdana, Arial, sans-serif;
}

#crew_control .template
{
	color: black;
	font-weight: normal;
}

#damage_track, #damage_track div
{
	border-style: solid;
	border-color: black;
	text-align: center;
}

#damage_track .drive
{
	border-style: double;
}

.destruction, .critical
{
	font-weight: bold;
	color: red;
}

legend, .descriptor, .construction_stats
{
	font-family: 'Times New Roman', serif;
}

legend, .hint
{
	color: gray;
}

.construction_stats
{
	font-style: italic;
	color: gray;
}

.invalid .current
{
	color: red;
}

.current
{
	color: blue;
}

.current, .separator, .template
{
	font-weight: bold;
}

.drive
{
	color: green;
}

.damage_reduction
{
	color: purple;
}

.crew, .weapon
{
	border-color: gray;
	border-style: solid;
	background-color: rgb(245, 245, 245);
}

.note_container
{
	font-style: italic;
}

.credit
{
	color: gray;
}
